@using IsraelRail.Models.ViewModels
@model IEnumerable<Route>

<div>
    <hr />
    @foreach (Route r in Model)
    {
        Stop firstTotal = r.Trains.FirstOrDefault().Stops.FirstOrDefault();
        Stop lastTotal = r.Trains.LastOrDefault().Stops.LastOrDefault();
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@firstTotal.Departure.Value.ToString("HH:mm") <i class="fas fa-arrow-right"></i> @lastTotal.Arrival.Value.ToString("HH:mm") @if (r.IsExchange) { <i class="fas fa-exchange-alt"></i> }</h5>
                <h6 class="card-subtitle mb-2 text-muted"><i class="far fa-clock"></i> @r.EstimatedTime.ToString("g")</h6>
                <ul class="list-group list-group-flush">
                    @{int i = 0;}
                    @foreach (Train t in r.Trains)
                    {
                        i++;
                        Stop first = t.Stops.FirstOrDefault();
                        Stop last = t.Stops.LastOrDefault();
                        <li class="list-group-item">
                            <p class="card-text">
                                Train @t.TrainNumber
                                @if (t.Accesability)
                                {
                                    <i class="fas fa-wheelchair"></i>
                                }
                                @if (t.ReservedSeats)
                                {
                                    <i class="fas fa-couch"></i>
                                }
                                @if (t.Equipment != null)
                                {
                                    <i class="fas fa-train"></i>@t.Equipment
                                }
                                @if (t.Carriages > 0)
                                {
                                    @t.Carriages<span> Carriages</span>
                                }
                            </p>
                            <partial name="_Stop" model="first" />
                            <p class="card-text text-center"><i class="fas fa-arrow-alt-circle-down"></i></p>
                            <partial name="_Stop" model="last" />
                        </li>
                        @if (i != r.Trains.Count)
                        {
                            <li class="list-group-item">
                                <p class="card-text text-center"><i class="fas fa-exchange-alt"></i></p>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }
</div>
