@using IsraelRail.Models.ViewModels
@model Stop
<p class="card-text">
    @if (Model.IsCurrent)
    {
        <div class="spinner-grow spinner-grow-sm" role="status">
            <span class="sr-only">█</span>
        </div>
    }
    <div class="spinner-grow spinner-grow-sm" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <b>Station:</b> @Model.StationName
    <b>Platform:</b> @Model.Platform
    @if (Model.Departure.HasValue)
    {
        <b>Departure:</b> @Model.Departure.Value.ToString("HH:mm")
    }
    @if (Model.Arrival.HasValue)
    {
        <b>Arrival:</b> @Model.Arrival.Value.ToString("HH:mm")
    }
    @if (Model.Delay.HasValue)
    {
        <span class="badge badge-danger">+@Model.Delay.Value.ToString("g")</span>
    }
    @if (Model.Congestion.HasValue)
    {
        int cong = (int)(Model.Congestion * 100);
        string barType = "bg-success";
        if (cong > 20) { barType = "bg-info"; };
        if (cong > 40) { barType = string.Empty; };
        if (cong > 60) { barType = "bg-warning"; };
        if (cong > 80) { barType = "bg-danger"; };
        <div class="progress"><div class="progress-bar @barType" role="progressbar" style="width: @cong%;" aria-valuenow="@cong" aria-valuemin="0" aria-valuemax="100">@cong%</div></div>
    }
</p>