@using IsraelRail.Models.ViewModels
@model Stop
<p class="card-text">
    @if (Model.IsCurrent)
    {
        <div class="spinner-grow spinner-grow-sm" role="status">
            <span class="sr-only">█</span>
        </div>
    }
    <b>Station:</b> @Model.StationName
    @if (!string.IsNullOrWhiteSpace(Model.Platform))
    {
        <b>Platform:</b> @Model.Platform
    }
    <b>Time: </b> @string.Join('-', Model.StopTime.Select(x => x.ToString("HH:mm")))
    <partial name="_Delay" model="Model.Delay" />
    @if (Model.Congestion.HasValue)
    {
        int cong = (int)(Model.Congestion * 100);
        string barType = "bg-success";
        if (cong > 20) { barType = "bg-info"; };
        if (cong > 40) { barType = string.Empty; };
        if (cong > 60) { barType = "bg-warning"; };
        if (cong > 80) { barType = "bg-danger"; };
        <div class="progress"><div class="progress-bar @barType" role="progressbar" style="width: @cong%;" aria-valuenow="@cong" aria-valuemin="0" aria-valuemax="100">@cong%</div></div>
    }
</p>