@using IsraelRail.Models.ViewModels
@model IEnumerable<StationLightData>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/routes.js"></script>
<script src="~/js/position.js"></script>
<script>
    var stationsData = @Html.Raw(Json.Serialize(Model));
    navigator.geolocation.getCurrentPosition(SetPosition, FailedPosition);
</script>
<h1>Routes</h1>

<form>
    <div class="form-row">
        <div class="col-md-2">
            <select id="oId" class="custom-select userStation">
                @foreach (StationLightData s in Model)
                {
                    <option value="@(s.Id)">@s.Name</option>
                }
            </select>
        </div>
        <div class="col-md-1">
            <i class="fas fa-arrows-alt-h fa-2x cent hand" onclick="SwitchStations()"></i>
        </div>
        <div class="col-md-2">
            <select id="dId" class="custom-select">
                @foreach (StationLightData s in Model)
                {
                    <option value="@(s.Id)">@s.Name</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <input type="datetime-local" id="dateTime" class="form-control" value="@ViewBag.Now.ToString("yyyy-MM-ddTHH:mm")" />
        </div>
        <div class="col-md-1">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="isDepart" id="rdDepart" value="true" checked="checked">
                <label class="form-check-label" for="rdOut">Depart</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="isDepart" id="rdArrive" value="false">
                <label class="form-check-label" for="rdReturn">Arrive</label>
            </div>
        </div>
        <div class="col-md-3">
            <button type="button" id="getRoutesBtn" class="btn btn-primary" onclick="GetRoutes()">
                <span id="getRoutesSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span>
                <span id="getRoutesLoad" style="display: none">Loading...</span>
                <span id="getRoutesTxt">Get Routes</span>
            </button>
            <button type="button" id="getAdvancedBtn" class="btn btn-light" onclick="GetAdvanced()">
                <span id="getAdvancedSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span>
                <span id="getAdvancedLoad" style="display: none">Loading...</span>
                <span id="getAdvancedTxt">Advaned</span>
            </button>
            <i class="fas fa-save fa-2x hand" onclick="SetStations()"></i>
        </div>
    </div>
</form>

<div id="content"></div>

