@using IsraelRail.Models.ViewModels;
@model StationData

<div>
    <hr />
    <h3>
        @Model.Name
        <small class="text-muted">Station Id: @Model.StationId</small>
    </h3>
    <div class="row">
        <div class="col-sm-6">
            @if (Model.Gates != null && Model.Gates.Any())
            {
                @foreach (Gate g in Model.Gates)
                {
                    <h4>@g.Name</h4>
                    <h6>Activity Hours</h6>
                    <dl class="row">
                        @foreach (ActivityHours ah in g.ActivityHours)
                        {
                            <dt class="col-sm-3">@string.Join(", ", ah.DaysOfWeek)</dt>
                            <dd class="col-sm-9">@ah.StartHour - @ah.EndHour</dd>
                        }
                    </dl>
                    <h6>Services</h6>
                    <dl class="row">
                        @foreach (string s in g.Services)
                        {
                            <dt class="col-sm-12">@s</dt>
                        }
                    </dl>
                }
            }
        </div>
        <div class="col-sm-6">
            <img src="@ViewBag.GoogleMapsUrl" class="img-fluid" />
        </div>
    </div>
</div>
