@using IsraelRail.Models.ViewModels;
@model IEnumerable<StationUpdate>

<div>
    <hr />
    <table class="table table-borderless">
        @foreach (StationUpdate stationUpdate in Model)
        {
            <tr>
                <th>@stationUpdate.Name</th>
                <td>@stationUpdate.Content</td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(stationUpdate.Link))
                    {
                        <a href="@stationUpdate.Link">Link</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>

<div>
    <hr />
    <dl class="row">
        @foreach (StationUpdate stationUpdate in Model)
        {
            <dt class="col-som-2">@stationUpdate.Name</dt>
            <dd class="col-sm-10">
                @stationUpdate.Content
                @if (!string.IsNullOrWhiteSpace(stationUpdate.Link))
                {
                    <a href="@stationUpdate.Link">Link</a>
                }
            </dd>
        }
    </dl>
</div>