@using IsraelRail.Models.ViewModels
@model IEnumerable<StationLightData>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/updates.js"></script>
<script src="~/js/position.js"></script>
<script>
    var stationsData = @Html.Raw(Json.Serialize(Model));
    navigator.geolocation.getCurrentPosition(SetPosition, FailedPosition);
</script>
<h1>Stations</h1>

<form>
    <div class="form-row">
        <div class="col">
            <select id="oId" class="custom-select userStation">
                @foreach (StationLightData s in Model)
                {
                    <option value="@((int)s.Station)">@s.Name</option>
                }
            </select>
        </div>
        <div class="col">
            <select id="dId" class="custom-select">
                @foreach (StationLightData s in Model)
                {
                    <option value="@((int)s.Station)">@s.Name</option>
                }
            </select>
        </div>
        <div class="col">
            <button type="button" id="getDataBtn" class="btn btn-primary" onclick="GetUpdates()">
                <span id="getDataSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span>
                <span id="getDataLoad" style="display: none">Loading...</span>
                <span id="getDataTxt">Get Updates</span>
            </button>
        </div>
    </div>
</form>

<div id="content"></div>